/* ---------------------------  GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5em;
  font-family: 'Red Hat Display', sans-serif;
  color: hsl(224, 23%, 55%); /*desaturated blue*/
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%); /*pale blue*/
}

h1 {
  color: hsl(223, 47%, 23%); /*dark blue*/
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 20px;
}

p {
  font-size: 15.5px;
  line-height: 1.8em;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

img {
  padding: 0px;
  margin: 0px;
}

strong {
  font-weight: 900;
}

.wrapper {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('order-summary-component-images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
}

.attribution {
  font-size: 11px; text-align: center;
}

/* ---------------------------  COMPONENT */

.order-box {
  width: 330px;
  height: auto;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  background-image: url('order-summary-component-images/illustration-hero.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.order-summary {
  padding: 200px 20px 10px 20px;
}

.order-summary-text {
  padding: 0 10px 0 10px;
}

.annual-plan-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  background-color: hsl(225, 100%, 98%);
}

.annual-plan-text p {
  line-height: 1.5em;
}

.annual-plan-text strong {
  color: hsl(223, 47%, 23%);
}

.music-icon {
  height: 50px;
  width: 50px;
  margin: 0 20px 0 0;
}

.annual-plan-box, .payment-button {
  border-radius: 10px;
}

.order-summary-text, .annual-plan-box, .payment-button {
  margin-bottom: 20px;
}

/* ---------------------------- BUTTONS */

.change-button {
  margin-left: auto;
}

.payment-button {
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  background-color: hsl(245, 75%, 52%); /*bright blue*/
  filter: drop-shadow(0 20px 1em #e1defb);
  display: block;
}

.cancel-button {
  font-size: 1.1em;
  color: hsl(224, 23%, 55%); /*desat blue*/
  margin-bottom: 20px; 
}

.annual-plan-text, .change-button p {
  font-size: 0.9em;
}

.change-button p, .payment-button, .cancel-button, {
  font-weight: 700;
}

.payment-button, .cancel-button {
  letter-spacing: normal;
}

/* --------------- LINKS */

.change-button a {
  font-weight: 700;
  color: hsl(245, 75%, 52%); /*bright blue*/
}

.payment-button a, .cancel-button a {
  text-decoration: none;
}

.cancel-button a {
  color: hsl(224, 23%, 55%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ---------------------------- MEDIA QUERIES */

@media (hover: hover) { /* dont really get why this is written like this */
  a:hover {
    opacity: 50%;
    filter: drop-shadow(0 20px 1em #e1defb);
  }

  .cancel-button a:hover {
    opacity: 100%;
    color: hsl(223, 47%, 23%); /*dark blue*/
    font-weight: 900;
  }

  .change-button a:hover{
    text-decoration: none;
  }

}

*/ || Mobile Styles */
@media screen and (max-width: 375px) {

  }
  
}

/* || Desktop Styles */
@media screen and (min-width: 800px) and (max-width: 1440px){

  body {
      background-image: url('order-summary-component-images/pattern-background-desktop.svg');
  }

  h1 {
    font-size: 1.8em;
  }

  strong {
    font-weight: 700;
  }

  .wrapper {
    height: 870px;
  }

  .order-box {
    width: 430px;
    padding: 20px;
  }

  .order-summary {
    padding: 220px 1em 1em 1em;
  }

  .order-summary-text {
    padding: 0 20px 0 20px;
  }

  .annual-plan-box {
    padding: 20px;
  }

  .payment-button, .cancel-button {
    font-size: 0.9em;
    font-weight: 700;
  }

}

/* --------------------------------DEBUGGING */

.wrapper, .empty, .attribution, .order-box, .order-summary, .order-summary-text, .annual-plan-box, .annual-plan-text, .music-icon, .change-button, .payment-button {
  border: 1px solid red;
}
