/* ---------------------------------------------------------------------------------

>>>> TO RESOLVE

❍ code responsive, mobile first css
common screen size is 360×640 – 12.98%__ — via [Common Screen Sizes for Responsive Web Design in 2021](https://gbksoft.com/blog/common-screen-sizes-for-responsive-web-design/) [[+Roam]]
how to set fixed width on mobile first which expands on a desktop

❍ how to use font sourced from a given URL as specified in style guide
❍ How to make "Annual Plan" dark without using inline style on HTML doc
❍ Can I avoid using empty divs in html to force empty spaces between elements?
❍ Drop shadow on .payment-button colour doesn't seem to match any of the style guide colours
❍ When would I group element selectors with similar properties
e.g. buttons with divs

❍ Optomise & organise code better

--------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%); /*pale blue*/
  line-height: 1.5em;
  font-family: Red Hat Display, Avenir, sans-serif;
  color: hsl(224, 23%, 55%); /*desaturated blue*/
}

.wrapper {
  height: 700px;
  border: 4px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 4px solid red;
}

.container {
  border: 1px solid #000;
}

.empty {
  margin: 40px;
}

.attribution {
  border: 1px solid #fff;
}

h1 {
  color: hsl(223, 47%, 23%); /*dark blue*/
  font-weight: 900;
  margin: 20px;
}

p {
  font-size: 16px;
  margin: 20px;
}

strong {
  font-weight: 900;
}

.order-box {
  width: 450px;
  height: auto;
  padding: 250px 50px 30px 50px;
  background-color: #fff;
  text-align: center;
  background-image: url('order-summary-component-images/illustration-hero.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
}

.annual-plan-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  background-color: hsl(225, 100%, 98%);
  background-image: url('order-summary-component-images/icon-music.svg');
  background-repeat: no-repeat;
  background-position: 8% 50%;
}

.annual-plan-text {
  padding-right: 50px;
  line-height: 0.4em;
}

.annual-plan-box, .payment-button {
  border-radius: 10px;
}

/* ---------------------------- BUTTONS --------------------------- */

.payment-button, .cancel-button, .change-button p {
  font-size: 0.9em;
}

.payment-button, .cancel-button {
  font-weight: 700;
}

.change-button a {
  font-weight: 700;
  color: hsl(245, 75%, 52%); /*bright blue*/
}

.payment-button {
  text-decoration: none;
  color: #fff;
  padding: 15px 106px 15px 106px;
  background-color: hsl(245, 75%, 52%); /*bright blue*/
  filter: drop-shadow(0 20px 1em #e0e8ff); /* replace with e0e8ff */
}

.cancel-button {
  color: hsl(224, 23%, 55%); /*desat blue*/
}

.payment-button a, .cancel-button a {
  text-decoration: none;
}

.cancel-button a {
  color: hsl(224, 23%, 55%);
}

/* ---------------------------- MEDIA QUERIES --------------------------- */

@media (hover: hover) { /* dont really get why this is written like this */
  a:hover {
    opacity: 50%;
  }

  .cancel-button a:hover {
    opacity: 100%;
    color: hsl(223, 47%, 23%); /*dark blue*/
    font-weight: 900;
  }

  .change-button a:hover{
    text-decoration: none;
  }

}

/* Mobile Styles */
@media (max-width: 450px) {
  body {
    background-image: url('order-summary-component-images/pattern-background-mobile.svg');
  }

}

/* Desktop Styles */
@media (min-width: 450px) {
  body {
      background-image: url('order-summary-component-images/pattern-background-desktop.svg');
  }

  .wrapper {
    height: 900px;
  }
}


/* ------------------------------------------------------------------------

RESOLVED

✔️ Too much spacing at the bottom of order-box container
Adjusted padding-bottom value

✔️ How to position elements in annual plan box - does it make sense to have multiple divs?? isn't that overkill?
I don't think there's a way around divs
Ended up using two divs (1) for annual text (2) "change" link
Then pushed them all alongside each other within containing div using display text

✔️ Annual plan is dark - but not sure how to show this - do I have to yet create another class???
... used inline style in HTML doc as a just-for-now workaround to achieve the result

✔️ How to make "Proceed to Payment" clickable as an entire button but still flow with the div specs of order
For a long time I was struggling with the Payment button only being as wide as the content as a clickable button
Tried setting "width property but the browser would ignore the rule.
Found out I just needed to adjust the padding size lol
I think I wanted to find a way to get the payment button to inherit the width of the order-box container div so I didn't have to manually set the values
I learnt today that some properties are not inheritable, width being one of them (15/10)
So I just adjusted the padding pixel by pixel until it broke out of the containing div width

✔️ Position the order box in the middle of the screen relative to the user browser
I couldn't place it relative to user browser, I could set a value for padding-top but it wouldn't be exactly center to however you size the screen
For the display flex to work properly it seems you need to set a height so it knows where to center - but I don't know how this will translate to bigger screens

--------------------------- FROM STYLE GUIDE COPY ------------------------------

# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900


------------------------------------------------------------------------*/
